## Dag 2 - Python

# Pandas  
### Een introductie voor datascience met python  

#### Van *preprocessing* tot *voorspellend model*

### Leerprogramma

- Achtergrond Python en Panda's  **DataFrame** & **Series**  
- installatie jupyter notebooks via Anaconda  
<span style="color: blue">Note! ze hebben waarschijnlijk al python geinstalleerd... welke versie</span>  
- Data input  
- Data verkenning  
 *inzicht vergaren door indexeren, agregeren en visualiseren*  
- imputeren na's  
- voorspellen  
- uitkomst interpreteren  
- Beter imputeren  
- Werken met een complete dataset : De Titanic

## Werken in een Kernel    
    
Hermetische omgeving voor opgeroepen functies:  
    
Alles wat je oproept in een Kernel blijft in principe in een Kernel  

**Voordelen:**   
-Meerdere Kernels naast elkaar runnen (multitasken)   
-Noodzaak om aanpak van meet af aan te structureren  
**Nadelen:**   
-Soms meer typwerk

In [158]:
# Code

### `Theorie 1`

Hoe haal je *data* binnen?  
En hoe bekijk je deze?  


**Mogelijkheden:**  
  
`pandas.read_csv("`*autocomplete met tab*`")`   
`DataFrame["`*welke waarde je wilt bekijken*`"]`
  
Functies voor DataFrama **x**:

- `x.info()`   
- `len(x)`  
- `x.keys()`  
- `x.describe()`  
- `x.count()`  
- `x.head()`  
- `x.tail()`  
- `x.nunique()`  
- `x.describe()`  

**Weet je niet meer wat een functie doet?**  
**Gebruik:**  
- ?  
- ??  
- help(*functienaam*)   
- [shift]+[tab]  
- [ Panda's cheat sheet!](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)

In [1]:
# pandas.read_csv('Music Store')

import pandas 

# pandas.read_csv("Music Store")

#### Data-manipulaties met een Music Store dataset

In [2]:
# Datadependencies uitleggen
import pandas as pd
import numpy as np

In [22]:
MusicStoreData = pd.read_csv("Music Store")

#### Visualiseer de data

In [30]:

# MusicStoreData.head()
MusicStoreData.tail(20)

,CustomerID,FirstName,LastName,Company,City,State,Country,Region,PostalCode,Phone,...,UnitPrice,Quantity,Artist,Album,Track,Composer,Milliseconds,Bytes,MediaType,Genre
2123,35,Madalena,Sampaio,NaN,Porto,NaN,Portugal,Europe,NaN,+351 (225) 022-448,...,0.99,3,U2,Rattle And Hum,The Star Spangled Banner,"Hendrix, Jimi",43232,1385810,MPEG audio file,Rock
2124,35,Madalena,Sampaio,NaN,Porto,NaN,Portugal,Europe,NaN,+351 (225) 022-448,...,0.99,1,U2,The Best Of 1980-1990,Sweetest Thing,U2 & Daragh O'Toole,183066,6071385,MPEG audio file,Rock
2125,35,Madalena,Sampaio,NaN,Porto,NaN,Portugal,Europe,NaN,+351 (225) 022-448,...,0.99,3,U2,War,Red Light,U2,225854,7453704,MPEG audio file,Rock
2126,35,Madalena,Sampaio,NaN,Porto,NaN,Portugal,Europe,NaN,+351 (225) 022-448,...,0.99,4,U2,Zooropa,The Wanderer,U2; Bono,283951,9258717,MPEG audio file,Rock
2127,35,Madalena,Sampaio,NaN,Porto,NaN,Portugal,Europe,NaN,+351 (225) 022-448,...,0.99,2,U2,Rattle And Hum,Pride (In The Name Of Love),"Bono/Clayton, Adam/Mullen Jr., Larry/The Edge",267807,8806361,MPEG audio file,Rock
2128,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,4,Zeca Pagodinho,Ao Vivo [IMPORT],Feirinha da Pavuna/Luz do Repente/BagaÃ§o da L...,"Arlindo Cruz/Franco/Marquinhos PQD/Negro, Jove...",107206,3593684,MPEG audio file,Latin
2129,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,3,Van Halen,Diver Down,Secrets,Alex Van Halen/David Lee Roth/Edward Van Halen...,206968,6803255,MPEG audio file,Rock
2130,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,4,Van Halen,"The Best Of Van Halen, Vol. I",Dreams,"Edward Van Halen, Alex Van Halen, Michael Anth...",291813,9504119,MPEG audio file,Rock
2131,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,4,Van Halen,Van Halen,On Fire,"Edward Van Halen, Alex Van Halen, Michael Anth...",180636,5879235,MPEG audio file,Rock
2132,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,4,Velvet Revolver,Contraband,Fall To Pieces,"Dave Kushner, Duff, Matt Sorum, Scott Weiland ...",270889,8823096,MPEG audio file,Rock
2133,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,2,VinÃ­cius De Moraes,Vinicius De Moraes,Um Homem Chamado Alfredo,NaN,151640,4976227,MPEG audio file,Latin
2134,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,3,Lenny Kravitz,Greatest Hits,Sweet Lady Luck,Vandenberg,273737,8919163,MPEG audio file,Metal
2135,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,5,Zeca Pagodinho,Ao Vivo [IMPORT],Samba pras moÃ§as,Grazielle/Roque Ferreira,152816,5121366,MPEG audio file,Latin
2136,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,3,UB40,UB40 The Best Of - Volume Two [UK],Higher Ground,NaN,260179,8665244,MPEG audio file,Reggae
2137,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,1,Van Halen,"The Best Of Van Halen, Vol. I",Eruption,"Edward Van Halen, Alex Van Halen, David Lee Ro...",102164,3272891,MPEG audio file,Rock
2138,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,5,Van Halen,Van Halen,Eruption,"Edward Van Halen, Alex Van Halen, Michael Anth...",102556,3286026,MPEG audio file,Rock
2139,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,3,Van Halen,Van Halen III,Year to the Day,Van Halen,514612,16621333,MPEG audio file,Rock
2140,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,5,VinÃ­cius De Moraes,Vinicius De Moraes,A Bencao E Outros,NaN,421093,14234427,MPEG audio file,Latin
2141,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,3,Lenny Kravitz,Greatest Hits,Looking For Love,Sykes,391941,12769847,MPEG audio file,Metal
2142,58,Manoj,Pareek,NaN,Delhi,NaN,India,Asia,110017,+91 0124 39883988,...,1.99,2,The Office,"The Office, Season 1",Hot Girl,NaN,1325458,267836576,Protected MPEG-4 video file,TV Shows

In [35]:
# len(MusicStoreData)
MusicStoreData.count()

CustomerID      2143
FirstName       2143
LastName        2143
Company          364
City            2143
State           1085
Country         2143
Region          2143
PostalCode      2003
Phone           2105
Email           2143
InvoiceID       2143
InvoiceDate     2143
UnitPrice       2143
Quantity        2143
Artist          2143
Album           2143
Track           2143
Composer        1573
Milliseconds    2143
Bytes           2143
MediaType       2143
Genre           2143
dtype: int64

In [44]:
# MusicStoreData.info()
# MusicStoreData.keys()
# MusicStoreData[MusicStoreData.keys()].nunique()
# MusicStoreData[].nunique()

CustomerID        59
FirstName         55
LastName          60
Company           10
City              53
State             25
Country           24
Region             5
PostalCode        55
Phone             58
Email             59
InvoiceID        412
InvoiceDate      354
UnitPrice          2
Quantity           5
Artist           163
Album            301
Track           1811
Composer         557
Milliseconds    1774
Bytes           1900
MediaType          5
Genre             24
dtype: int64

In [45]:
# MusicStoreData.describe()

,CustomerID,InvoiceID,UnitPrice,Quantity,Milliseconds,Bytes
count,2143.000000,2143.000000,2143.000000,2143.000000,2.143000e+03,2.143000e+03
mean,29.932804,205.202053,1.039463,2.979001,3.742134e+05,2.978854e+07
std,17.001048,121.165900,0.216884,1.436170,5.063154e+05,9.990792e+07
min,1.000000,1.000000,0.990000,1.000000,6.373000e+03,2.119970e+05
25%,15.000000,100.000000,0.990000,2.000000,2.058710e+05,6.332434e+06
50%,30.000000,201.000000,0.990000,3.000000,2.558690e+05,8.088244e+06
75%,45.000000,313.000000,0.990000,4.000000,3.204045e+05,1.017504e+07
max,59.000000,412.000000,1.990000,5.000000,5.286953e+06,1.059546e+09

#### Conditioneel statement
In dit geval een Pandas Series boolean Object. Met een boolean object kunnen we indexeren!

In [51]:
len(MusicStoreData['Quantity'] > 4)
# type(MusicStoreData['Quantity'] > 4)

2143

In [50]:
MusicStoreData[MusicStoreData['Quantity'] >4]

,CustomerID,FirstName,LastName,Company,City,State,Country,Region,PostalCode,Phone,...,UnitPrice,Quantity,Artist,Album,Track,Composer,Milliseconds,Bytes,MediaType,Genre
4,4,Bjarn,Hansen,NaN,Oslo,NaN,Norway,Europe,171,+47 22 44 22 22,...,0.99,5,AC/DC,For Those About To Rock We Salute You,Put The Finger On You,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,MPEG audio file,Rock
7,8,Daan,Peeters,NaN,Brussels,NaN,Belgium,Europe,1000,+32 02 219 03 03,...,0.99,5,Aerosmith,Big Ones,Janie's Got A Gun,"Steven Tyler, Tom Hamilton",330736,10869391,MPEG audio file,Rock
11,8,Daan,Peeters,NaN,Brussels,NaN,Belgium,Europe,1000,+32 02 219 03 03,...,0.99,5,Aerosmith,Big Ones,Deuces Are Wild,"Steven Tyler, Jim Vallance",215875,7074167,MPEG audio file,Rock
12,14,Mark,Philips,Telus,Edmonton,AB,Canada,North America,T6G 2C7,+1 (780) 434-4554,...,0.99,5,Alice In Chains,Facelift,Confusion,"Jerry Cantrell, Michael Starr, Layne Staley",344163,11183647,MPEG audio file,Rock
15,14,Mark,Philips,Telus,Edmonton,AB,Canada,North America,T6G 2C7,+1 (780) 434-4554,...,0.99,5,Alanis Morissette,Jagged Little Pill,Right Through You,Alanis Morissette & Glenn Ballard,176117,5793082,MPEG audio file,Rock
17,14,Mark,Philips,Telus,Edmonton,AB,Canada,North America,T6G 2C7,+1 (780) 434-4554,...,0.99,5,AntÃ´nio Carlos Jobim,Warner 25 Anos,Por Causa De VocÃª,NaN,169900,5536496,MPEG audio file,Jazz
20,14,Mark,Philips,Telus,Edmonton,AB,Canada,North America,T6G 2C7,+1 (780) 434-4554,...,0.99,5,Alanis Morissette,Jagged Little Pill,Not The Doctor,Alanis Morissette & Glenn Ballard,227631,7604601,MPEG audio file,Rock
27,23,John,Gordon,NaN,Boston,MA,USA,North America,2113,+1 (617) 522-1333,...,0.99,5,Caetano Veloso,Prenda Minha,MeditaÃ§Ã£o,Tom Jobim - Newton MendoÃ§a,148793,4865597,MPEG audio file,Latin
34,23,John,Gordon,NaN,Boston,MA,USA,North America,2113,+1 (617) 522-1333,...,0.99,5,Caetano Veloso,Prenda Minha,Esse Cara,Caetano Veloso,223111,7217126,MPEG audio file,Latin
40,42,Wyatt,Girard,NaN,Bordeaux,NaN,France,Europe,33000,+33 05 56 96 96 96,...,0.99,5,Chico Buarque,Minha Historia,Gota D'Ã¡gua,NaN,153208,5074189,MPEG audio file,Latin
42,42,Wyatt,Girard,NaN,Bordeaux,NaN,France,Europe,33000,+33 05 56 96 96 96,...,0.99,5,Chico Buarque,Minha Historia,Trocando Em MiÃºdos,NaN,169717,5461468,MPEG audio file,Latin
44,46,Hugh,O'Reilly,NaN,Dublin,Dublin,Ireland,Europe,NaN,+353 01 6792424,...,0.99,5,Chico Science & NaÃ§Ã£o Zumbi,Afrociberdelia,Etnia,Chico Science,152555,5061413,MPEG audio file,Latin
45,46,Hugh,O'Reilly,NaN,Dublin,Dublin,Ireland,Europe,NaN,+353 01 6792424,...,0.99,5,Chico Science & NaÃ§Ã£o Zumbi,Afrociberdelia,Sobremesa,Chico Science,240091,7960868,MPEG audio file,Latin
47,46,Hugh,O'Reilly,NaN,Dublin,Dublin,Ireland,Europe,NaN,+353 01 6792424,...,0.99,5,Chico Science & NaÃ§Ã£o Zumbi,Afrociberdelia,Samba Do Lado,Chico Science,227317,7541688,MPEG audio file,Latin
50,52,Emma,Jones,NaN,London,NaN,United Kingdom,Europe,N1 5LH,+44 020 7707 0707,...,0.99,5,Chico Science & NaÃ§Ã£o Zumbi,Da Lama Ao Caos,Samba Makossa,NaN,271856,9095410,MPEG audio file,Latin
51,52,Emma,Jones,NaN,London,NaN,United Kingdom,Europe,N1 5LH,+44 020 7707 0707,...,0.99,5,Cidade Negra,AcÃºstico MTV [Live],Firmamento,Bino Farias/Da Gama/Henry Lawes/LazÃ£o/Toni Ga...,222145,7402658,MPEG audio file,Reggae
52,52,Emma,Jones,NaN,London,NaN,United Kingdom,Europe,N1 5LH,+44 020 7707 0707,...,0.99,5,Cidade Negra,AcÃºstico MTV [Live],A Cor Do Sol,Bernardo Vilhena/Da Gama/LazÃ£o,231392,7663348,MPEG audio file,Reggae
57,52,Emma,Jones,NaN,London,NaN,United Kingdom,Europe,N1 5LH,+44 020 7707 0707,...,0.99,5,Cidade Negra,Cidade Negra - Hits,Firmamento,Harry Lawes/Winston Foster-Vers,225488,7507866,MPEG audio file,Reggae
61,2,Leonie,Kahler,NaN,Stuttgart,NaN,Germany,Europe,70174,+49 0711 2842222,...,0.99,5,Marcos Valle,Chill: Brazil (Disc 1),VÃ´o Sobre o Horizonte,J.r.Bertami/Parana,225097,7528825,MPEG audio file,Latin
80,21,Kathy,Chase,NaN,Reno,NV,USA,North America,89503,+1 (775) 223-7665,...,0.99,5,Green Day,International Superhits,Longview,Billie Joe Armstrong -Words Green Day -Music,234083,7714939,MPEG audio file,Alternative & Punk
85,25,Victor,Stevens,NaN,Madison,WI,USA,North America,53703,+1 (608) 257-0597,...,0.99,5,Green Day,International Superhits,Stuck With Me,Billie Joe Armstrong -Words Green Day -Music,135523,4431357,MPEG audio file,Alternative & Punk
86,25,Victor,Stevens,NaN,Madison,WI,USA,North America,53703,+1 (608) 257-0597,...,0.99,5,Green Day,International Superhits,Macy's Day Parade,Billie Joe Armstrong -Words Green Day -Music,213420,7075573,MPEG audio file,Alternative & Punk
97,40,Dominique,Lefebvre,NaN,Paris,NaN,France,Europe,75002,+33 01 47 42 71 71,...,0.99,5,Miles Davis,The Essential Miles Davis [Disc 1],Compulsion,Miles Davis,345025,11254474,MPEG audio file,Jazz
114,55,Mark,Taylor,NaN,Sidney,NSW,Australia,Oceania,2010,+61 (02) 9332 3633,...,0.99,5,Creedence Clearwater Revival,"Chronicle, Vol. 2","Suzie-Q, Pt. 2",J.C. Fogerty,244114,7986637,MPEG audio file,Rock
122,4,Bjarn,Hansen,NaN,Oslo,NaN,Norway,Europe,171,+47 22 44 22 22,...,0.99,5,CÃ¡ssia Eller,CÃ¡ssia Eller - ColeÃ§Ã£o Sem Limite [Disc 2],Brasil,NaN,243696,7911683,MPEG audio file,Latin
126,10,Eduardo,Martins,Woodstock Discos,São Paulo,SP,Brazil,South America,01007-010,+55 (11) 3033-5446,...,0.99,5,CÃ¡ssia Eller,CÃ¡ssia Eller - Sem Limite [Disc 1],Mis Penas Lloraba Yo (Ao Vivo) Soy Gitano (Tan...,NaN,188473,6195854,MPEG audio file,Latin
136,19,Tim,Goyer,Apple Inc.,Cupertino,CA,USA,North America,95014,+1 (408) 996-1010,...,0.99,5,Deep Purple,Stormbringer,High Ball Shooter,D.Coverdale/G.Hughes/Glenn Hughes/I.Paice/Ian ...,267833,8772471,MPEG audio file,Rock
144,19,Tim,Goyer,Apple Inc.,Cupertino,CA,USA,North America,95014,+1 (408) 996-1010,...,0.99,5,Def Leppard,Vault: Def Leppard's Greatest Hits,Hysteria,NaN,355056,11622738,MPEG audio file,Rock
157,38,Niklas,Schroeder,NaN,Berlin,NaN,Germany,Europe,10779,+49 030 2141444,...,0.99,5,Faith No More,Angel Dust,Everything's Ruined,NaN,273658,9010917,MPEG audio file,Alternative & Punk
164,48,Johannes,Van der Berg,NaN,Amsterdam,VV,Netherlands,Europe,1016,+31 020 6223130,...,0.99,5,Faith No More,The Real Thing,Underwater Love,Faith No More,231993,7634387,MPEG audio file,Alternative & Punk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981,10,Eduardo,Martins,Woodstock Discos,São Paulo,SP,Brazil,South America,01007-010,+55 (11) 3033-5446,...,0.99,5,Page & Plant,Walking Into Clarksdale,Most High,"Jimmy Page, Robert Plant, Charlie Jones, Micha...",336535,10999203,MPEG audio file,Rock
1991,27,Patrick,Gray,NaN,Tucson,AZ,USA,North America,85719,+1 (520) 622-4200,...,0.99,5,Planet Hemp,Os CÃ£es Ladram Mas A Caravana NÃ£o PÃ¡ra,Se Liga,NaN,410409,13559173,MPEG audio file,Hip Hop/Rap
2000,33,Ellie,Sullivan,NaN,Yellowknife,NT,Canada,North America,X1A 1N6,+1 (867) 920-2233,...,0.99,5,Queen,News Of The World,Spread Your Wings,Deacon,275356,8936992,MPEG audio file,Rock
2002,33,Ellie,Sullivan,NaN,Yellowknife,NT,Canada,North America,X1A 1N6,+1 (867) 920-2233,...,0.99,5,Queen,News Of The World,We Will Rock You,May,122671,4026815,MPEG audio file,Rock
2003,33,Ellie,Sullivan,NaN,Yellowknife,NT,Canada,North America,X1A 1N6,+1 (867) 920-2233,...,0.99,5,Queen,News Of The World,Who Needs You,Deacon,186958,6292969,MPEG audio file,Rock
2004,33,Ellie,Sullivan,NaN,Yellowknife,NT,Canada,North America,X1A 1N6,+1 (867) 920-2233,...,0.99,5,R.E.M.,Green,You Are The Everything,Bill Berry-Peter Buck-Mike Mills-Michael Stipe,226298,7373181,MPEG audio file,Alternative & Punk
2008,39,Camille,Bernard,NaN,Paris,NaN,France,Europe,75009,+33 01 49 70 65 65,...,0.99,5,Raimundos,Cesta BÃ¡sica,A Sua,Rodolfo,142132,4622064,MPEG audio file,Alternative & Punk
2013,39,Camille,Bernard,NaN,Paris,NaN,France,Europe,75009,+33 01 49 70 65 65,...,0.99,5,Raimundos,Cesta BÃ¡sica,BÃª-a-BÃ¡,Rodolfo,249051,8130636,MPEG audio file,Alternative & Punk
2018,48,Johannes,Van der Berg,NaN,Amsterdam,VV,Netherlands,Europe,1016,+31 020 6223130,...,0.99,5,Rush,Retrospective I (1974-1980),Anthem,Geddy Lee And Alex Lifeson/Geddy Lee And Neil ...,264515,8693343,MPEG audio file,Rock
2025,48,Johannes,Van der Berg,NaN,Amsterdam,VV,Netherlands,Europe,1016,+31 020 6223130,...,0.99,5,Red Hot Chili Peppers,Californication,Right On Time,Red Hot Chili Peppers,112613,3722219,MPEG audio file,Rock
2026,48,Johannes,Van der Berg,NaN,Amsterdam,VV,Netherlands,Europe,1016,+31 020 6223130,...,0.99,5,Santana,Santana - As Years Go By,La Puesta Del Sol,E.Weiss,628062,20614621,MPEG audio file,Rock
2030,6,Helena,Hola,NaN,Prague,NaN,Czech Republic,Europe,14300,+420 2 4177 0449,...,0.99,5,Smashing Pumpkins,Judas 0: B-Sides and Rarities,Winterlong,Billy Corgan,299389,9670616,MPEG audio file,Alternative & Punk
2034,8,Daan,Peeters,NaN,Brussels,NaN,Belgium,Europe,1000,+32 02 219 03 03,...,0.99,5,Smashing Pumpkins,Rotten Apples: Greatest Hits,Disarm,Billy Corgan,198556,6508249,MPEG audio file,Alternative & Punk
2036,8,Daan,Peeters,NaN,Brussels,NaN,Belgium,Europe,1000,+32 02 219 03 03,...,0.99,5,Smashing Pumpkins,Rotten Apples: Greatest Hits,Bullet With Butterfly Wings,Billy Corgan,257306,8431747,MPEG audio file,Alternative & Punk
2038,12,Roberto,Almeida,Riotur,Rio de Janeiro,RJ,Brazil,South America,20040-020,+55 (21) 2271-7000,...,0.99,5,Soundgarden,A-Sides,Flower,Chris Cornell/Kim Thayil,208822,6830732,MPEG audio file,Rock
2042,12,Roberto,Almeida,Riotur,Rio de Janeiro,RJ,Brazil,South America,20040-020,+55 (21) 2271-7000,...,0.99,5,Soundgarden,A-Sides,Burden In My Hand,Chris Cornell,292153,9659911,MPEG audio file,Rock
2044,18,Michelle,Brooks,NaN,New York,NY,USA,North America,10012-2612,+1 (212) 221-3546,...,0.99,5,Stevie Ray Vaughan & Double Trouble,In Step,Travis Walk,Stevie Ray Vaughan,140826,4650979,MPEG audio file,Blues
2046,18,Michelle,Brooks,NaN,New York,NY,USA,North America,10012-2612,+1 (212) 221-3546,...,0.99,5,System Of A Down,Mezmerize,Question!,"Tankian, Serj",200698,6616398,MPEG audio file,Metal
2047,18,Michelle,Brooks,NaN,New York,NY,USA,North America,10012-2612,+1 (212) 221-3546,...,0.99,5,The Black Crowes,Live [Disc 1],Sting Me,Chris Robinson/Rich Robinson,268094,8813561,MPEG audio file,Blues
2057,27,Patrick,Gray,NaN,Tucson,AZ,USA,North America,85719,+1 (520) 622-4200,...,0.99,5,The Black Crowes,Live [Disc 2],Black Moon Creeping,Chris Robinson/Rich Robinson,359314,11740886,MPEG audio file,Blues
2072,46,Hugh,O'Reilly,NaN,Dublin,Dublin,Ireland,Europe,NaN,+353 01 6792424,...,0.99,5,The Tea Party,Transmission,Babylon,The Tea Party,292466,9601786,MPEG audio file,Alternative & Punk
2076,50,Enrique,MuÃ±oz,NaN,Madrid,NaN,Spain,Europe,28015,+34 914 454 454,...,0.99,5,The Who,My Generation - The Very Best Of The Who,Baba O'Riley,John Entwistle/Pete Townshend,309472,10141660,MPEG audio file,Rock
2079,50,Enrique,MuÃ±oz,NaN,Madrid,NaN,Spain,Europe,28015,+34 914 454 454,...,0.99,5,The Who,My Generation - The Very Best Of The Who,I Can See For Miles,Pete Townshend,262791,8604989,MPEG audio file,Rock
2086,56,Diego,Gutierrez,NaN,Buenos Aires,NaN,Argentina,South America,1106,+54 (0)11 4311 4333,...,0.99,5,Tim Maia,Serie Sem Limite (Disc 2),NÃ£o Quero Dinheiro,NaN,152607,5031797,MPEG audio file,Latin
2096,6,Helena,Hola,NaN,Prague,NaN,Czech Republic,Europe,14300,+420 2 4177 0449,...,1.99,5,Lost,"Lost, Season 1",Deus Ex Machina,NaN,2582009,214996732,Protected MPEG-4 video file,TV Shows
2111,25,Victor,Stevens,NaN,Madison,WI,USA,North America,53703,+1 (608) 257-0597,...,0.99,5,U2,B-Sides 1980-1990,Everlasting Love,Buzz Cason/Mac Gayden,202631,6708932,MPEG audio file,Rock
2121,35,Madalena,Sampaio,NaN,Porto,NaN,Portugal,Europe,NaN,+351 (225) 022-448,...,0.99,5,U2,Zooropa,Lemon,U2; Bono,418324,13988878,MPEG audio file,Rock
2135,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,5,Zeca Pagodinho,Ao Vivo [IMPORT],Samba pras moÃ§as,Grazielle/Roque Ferreira,152816,5121366,MPEG audio file,Latin
2138,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,5,Van Halen,Van Halen,Eruption,"Edward Van Halen, Alex Van Halen, Michael Anth...",102556,3286026,MPEG audio file,Rock
2140,44,Terhi,Hamamalinen,NaN,Helsinki,NaN,Finland,Europe,530,+358 09 870 2000,...,0.99,5,VinÃ­cius De Moraes,Vinicius De Moraes,A Bencao E Outros,NaN,421093,14234427,MPEG audio file,Latin

In [168]:
# MusicStoreData['FirstName'] == 'Leonie'
# FN_is_Leonie = MusicStoreData['FirstName'] == 'Leonie'
# MusicStoreData[FN_is_Leonie]

### Opdracht 1
1. Haal de *titanic dataset* binnen  
2. Bekijk de *titanic dataset*:  
    - Wat voor soort data hebben we (dimensies)?  
    - Heb je vermoedens over relaties tussen verschillende dimensies?  
    - Welke waarde willen we voorspellen?  
    - Vinden we veel lege velden?  
  
**Mogelijkheden:**  
- `pandas.read_CSV(`*autocomplete met tab*`)`   
- Indexeren op *kolom* of *rij* met blokhaken `DataFrame['Kolom-/Rij-naam']`  
- Indexeren met *kolomnaam* als attribuut `DataFrame.Kolomnaam`  
- Conditioneel indexeren met boolean Array `DataFrame[DataFrame["Kolom-/Rij-naam"] > Waarde]`     
- Probeer een paar andere functies uit op de Dataframe met behulp van [TAB], [shift]+[tab] en de ingebouwde help funties.

-  >   <    ==  >=   <=   !=

x.info()  
len(x)  
x.keys()  
x.describe()  
x.count()  
x.head()  
x.tail()  
x.nunique()  
x.describe()

In [52]:
test = pd.read_csv("titanic/test.csv")
train = pd.read_csv("titanic/train.csv")

In [53]:
test
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [55]:
test.keys()
train.keys()

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [57]:
len(test)
len(train)

891

In [66]:
test.info()
test.count()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

PassengerId    418
Pclass         418
Name           418
Sex            418
Age            332
SibSp          418
Parch          418
Ticket         418
Fare           417
Cabin           91
Embarked       418
dtype: int64

In [69]:
91/418*100 #procent waardes ingevuld in Cabin
332/417*100 #procent waardes ingevuld bij Age

79.61630695443645

In [70]:
train.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [72]:
714/891*100 #procentueel ingevulde waardes bij Age
204/891*100 # procentueel ingevulde waardes bij Cabin

22.895622895622896

In [74]:
test.nunique()
train.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [75]:
test.describe()
# train.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

## Uitkomst
- Wat treffen we aan? 
- Zouden we ook beter kunnen kijken?

### Theorie 2

Groeperen, aggrereren.

Meer inzicht in je data door  
*dimensies* per *dimensie* te bekijken.

In [99]:
# Code

MusicStoreData.keys()
MusicStoreData.groupby('FirstName')
MusicStoreData.groupby('FirstName').count()['UnitPrice']
MusicStoreData.groupby('FirstName').LastName.unique()
MusicStoreData.groupby(['FirstName', 'LastName']).count()


pd.DataFrame(data =[MusicStoreData.groupby(['FirstName', 'LastName']).sum().UnitPrice, MusicStoreData.groupby(['FirstName', 'LastName']).mean().UnitPrice]).transpose()

                        UnitPrice  UnitPrice
FirstName LastName
Aaron     Mitchell          37.62   0.990000
Alexandre Rocha             37.62   0.990000
Astrid    Gruber            42.62   1.121579
Bjarn     Hansen            36.65   1.047143
Camille   Bernard           38.62   1.016316
Daan      Peeters           30.69   0.990000
Dan       Miller            39.62   1.042632
Diego     Gutierrez         36.63   0.990000
Dominique Lefebvre          38.62   1.016316
Eduardo   Martins           37.62   0.990000
Edward    Francis           37.62   0.990000
Ellie     Sullivan          31.68   0.990000
Emma      Jones             37.62   0.990000
Enrique   Muaz               2.97   0.990000
          MuÃ±oz            28.71   0.990000
Fernanda  Ramos             30.69   0.990000
Francois  Tremblay          39.62   1.042632
Frank     Harris            37.62   0.990000
          Ralston           43.62   1.147895
          Wichterlovai      38.64   1.073333
Fynn      Zimmermann        43.62   1.147895
Hannah    Schneider         36.63   0.990000
Heather   Leacock           39.62   1.042632
Helena    Hola              49.62   1.305789
Hugh      O'Reilly          35.70   1.190000
Isabelle  Mercier           40.62   1.068947
Jack      Smith             29.71   1.024483
Jennifer  Peterson          38.62   1.016316
Joakim    Johansson         38.62   1.016316
Joalo     Fernandes         35.66   1.048824
Johannes  Van der Berg      40.62   1.068947
John      Gordon            35.64   0.990000
Julia     Barnett           43.62   1.147895
Kara      Nielsen           37.62   0.990000
Kathy     Chase             37.62   0.990000
Ladislav  Kovaics           45.62   1.200526
Leonie    Kahler            35.64   0.990000
Lucas     Gonasalves        39.62   1.042632
          Mancini           37.62   0.990000
Luis      Rojas             46.62   1.226842
Madalena  Sampaio           37.62   0.990000
Manoj     Pareek            38.62   1.016316
Marc      Dubois            37.62   0.990000
Mark      Philips           32.67   0.990000
          Taylor            29.70   0.990000
Martha    Silk              37.62   0.990000
Michelle  Brooks            37.62   0.990000
Niklas    Schroeder         30.69   0.990000
Patrick   Gray              37.62   0.990000
Phil      Hughes            37.62   0.990000
Puja      Srivastava        32.68   1.021250
Richard   Cunningham        43.64   1.212222
Robert    Brown             32.67   0.990000
Roberto   Almeida           37.62   0.990000
Stanislaw Wajcik            37.62   0.990000
Steve     Murray            34.65   0.990000
Terhi     Hamamalinen       41.62   1.095263
Tim       Goyer             38.62   1.016316
Victor    Stevens           39.65   1.132857
Wyatt     Girard            37.64   1.045556

### Opdracht 2
Bekijk zelf de *Titanic Datasets*  
en zie wat je nog meer te weten kunt komen.  

  
**Mogelijkheden:**  

Functies voor DataFrame **x**:
- `x.keys()`
- `x.groupby()`  
  
Aggregatie-functies:
- `x.count()`  
- `x.sum()`  
- `x.unique()`  
- `x.nunique()`
- `x.mean()`  
- `x.median()`  
  
    
### Vergeet niet:  
   
De ingebouwde help functies:  
?  
??  
help()  
en de  
[Tab] en [shift]+[Tab] functionaliteit

In [105]:
# train.keys()
train.groupby(['Survived']).count()


train.groupby(['Sex', 'Survived']).mean()

                 PassengerId    Pclass        Age     SibSp     Parch  \
Sex    Survived
female 0          434.851852  2.851852  25.046875  1.209877  1.037037
       1          429.699571  1.918455  28.847716  0.515021  0.515021
male   0          449.121795  2.476496  31.618056  0.440171  0.207265
       1          475.724771  2.018349  27.276022  0.385321  0.357798

                      Fare
Sex    Survived
female 0         23.024385
       1         51.938573
male   0         21.960993
       1         40.821484

# Collectief  

Wat hebben we gevonden?

Note: volgens mij hoeven we hier niet verder op in.  
Link naar: Wat is ECHT belangrijk voordat we kunnen voorspellen,
Missende Data invullen.

# Theorie! ...3  
  
Rijen en Kolommen specifiek inspecteren op **missende waardes**  
  
*Indexeren* op **missende waardes** met:  
  
x.isnull()  
x.notnull()

In [117]:
# Code

MusicStoreData.keys()
MusicStoreData["CustomerID"].isnull()
MusicStoreData["CustomerID"].isnull().nunique()
MusicStoreData.keys()
MusicStoreData[MusicStoreData.keys()].isnull().nunique() ==2
type(MusicStoreData[MusicStoreData.keys()].isnull().nunique() == 2)
MusicStoreData.keys()[MusicStoreData[MusicStoreData.keys()].isnull().nunique() == 2]
MusicStoreData[MusicStoreData.keys()[MusicStoreData[MusicStoreData.keys()].isnull().nunique() == 2]]

,Company,State,PostalCode,Phone,Composer
0,NaN,NaN,70174,+49 0711 2842222,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D..."
1,NaN,NaN,70174,+49 0711 2842222,NaN
2,NaN,NaN,171,+47 22 44 22 22,"Angus Young, Malcolm Young, Brian Johnson"
3,NaN,NaN,171,+47 22 44 22 22,"Angus Young, Malcolm Young, Brian Johnson"
4,NaN,NaN,171,+47 22 44 22 22,"Angus Young, Malcolm Young, Brian Johnson"
5,NaN,NaN,171,+47 22 44 22 22,"Angus Young, Malcolm Young, Brian Johnson"
6,NaN,NaN,1000,+32 02 219 03 03,AC/DC
7,NaN,NaN,1000,+32 02 219 03 03,"Steven Tyler, Tom Hamilton"
8,NaN,NaN,1000,+32 02 219 03 03,"Steven Tyler, Desmond Child"
9,NaN,NaN,1000,+32 02 219 03 03,AC/DC
10,NaN,NaN,1000,+32 02 219 03 03,"Steven Tyler, Joe Perry"
11,NaN,NaN,1000,+32 02 219 03 03,"Steven Tyler, Jim Vallance"
12,Telus,AB,T6G 2C7,+1 (780) 434-4554,"Jerry Cantrell, Michael Starr, Layne Staley"
13,Telus,AB,T6G 2C7,+1 (780) 434-4554,NaN
14,Telus,AB,T6G 2C7,+1 (780) 434-4554,Apocalyptica
15,Telus,AB,T6G 2C7,+1 (780) 434-4554,Alanis Morissette & Glenn Ballard
16,Telus,AB,T6G 2C7,+1 (780) 434-4554,Jerry Cantrell
17,Telus,AB,T6G 2C7,+1 (780) 434-4554,NaN
18,Telus,AB,T6G 2C7,+1 (780) 434-4554,Apocalyptica
19,Telus,AB,T6G 2C7,+1 (780) 434-4554,Audioslave/Chris Cornell
20,Telus,AB,T6G 2C7,+1 (780) 434-4554,Alanis Morissette & Glenn Ballard
21,NaN,MA,2113,+1 (617) 522-1333,"Cornell, Commerford, Morello, Wilk"
22,NaN,MA,2113,+1 (617) 522-1333,Chuck Berry
23,NaN,MA,2113,+1 (617) 522-1333,NaN
24,NaN,MA,2113,+1 (617) 522-1333,NaN
25,NaN,MA,2113,+1 (617) 522-1333,NaN
26,NaN,MA,2113,+1 (617) 522-1333,Roy Z
27,NaN,MA,2113,+1 (617) 522-1333,Tom Jobim - Newton MendoÃ§a
28,NaN,MA,2113,+1 (617) 522-1333,"Cornell, Commerford, Morello, Wilk"
29,NaN,MA,2113,+1 (617) 522-1333,Billy Cobham
...,...,...,...,...,...
2113,NaN,ON,M6J 1V1,+1 (416) 363-8888,"Adam Clayton, Bono, Larry Mullen & The Edge"
2114,NaN,ON,M6J 1V1,+1 (416) 363-8888,"Bono, The Edge, Adam Clayton, and Larry Mullen"
2115,NaN,ON,M6J 1V1,+1 (416) 363-8888,"Bono, The Edge, Adam Clayton, and Larry Mullen"
2116,NaN,ON,M6J 1V1,+1 (416) 363-8888,U2
2117,NaN,ON,M6J 1V1,+1 (416) 363-8888,"Adam Clayton, Bono, Larry Mullen & The Edge"
2118,NaN,ON,M6J 1V1,+1 (416) 363-8888,"Bono, The Edge, Adam Clayton, and Larry Mullen"
2119,NaN,NaN,NaN,+351 (225) 022-448,U2
2120,NaN,NaN,NaN,+351 (225) 022-448,U2
2121,NaN,NaN,NaN,+351 (225) 022-448,U2; Bono
2122,NaN,NaN,NaN,+351 (225) 022-448,"Bono/Clayton, Adam/Mullen Jr., Larry/The Edge"
2123,NaN,NaN,NaN,+351 (225) 022-448,"Hendrix, Jimi"
2124,NaN,NaN,NaN,+351 (225) 022-448,U2 & Daragh O'Toole
2125,NaN,NaN,NaN,+351 (225) 022-448,U2
2126,NaN,NaN,NaN,+351 (225) 022-448,U2; Bono
2127,NaN,NaN,NaN,+351 (225) 022-448,"Bono/Clayton, Adam/Mullen Jr., Larry/The Edge"
2128,NaN,NaN,530,+358 09 870 2000,"Arlindo Cruz/Franco/Marquinhos PQD/Negro, Jove..."
2129,NaN,NaN,530,+358 09 870 2000,Alex Van Halen/David Lee Roth/Edward Van Halen...
2130,NaN,NaN,530,+358 09 870 2000,"Edward Van Halen, Alex Van Halen, Michael Anth..."
2131,NaN,NaN,530,+358 09 870 2000,"Edward Van Halen, Alex Van Halen, Michael Anth..."
2132,NaN,NaN,530,+358 09 870 2000,"Dave Kushner, Duff, Matt Sorum, Scott Weiland ..."
2133,NaN,NaN,530,+358 09 870 2000,NaN
2134,NaN,NaN,530,+358 09 870 2000,Vandenberg
2135,NaN,NaN,530,+358 09 870 2000,Grazielle/Roque Ferreira
2136,NaN,NaN,530,+358 09 870 2000,NaN
2137,NaN,NaN,530,+358 09 870 2000,"Edward Van Halen, Alex Van Halen, David Lee Ro..."
2138,NaN,NaN,530,+358 09 870 2000,"Edward Van Halen, Alex Van Halen, Michael Anth..."
2139,NaN,NaN,530,+358 09 870 2000,Van Halen
2140,NaN,NaN,530,+358 09 870 2000,NaN
2141,NaN,NaN,530,+358 09 870 2000,Sykes
2142,NaN,NaN,110017,+91 0124 39883988,NaN

In [182]:
# anders dan educatief verkennen kunnen we met deze dataset op het moment niet veel meer.
# Dus met deze missende waardes kunnen we an sich niet veel doen.
# We zouden nog kunnen proberen de 'staat' te imputeren adhv telefoonnummer.
# en handmatig de composer kolom proberen te imputeren
# laten we eens kijken hoe het zit in onze titanic!

### Opdracht 3  

Zoek de missende waardes in de **titanic train & testset**.
Bedenk per kolom *of*, en *hoe* we deze missende waardes  
kunnen *imputeren*  voor een betere voorspelling.

**Mogelijkheden:**  

Per kolom de missende waardes zoeken:  
`DataFrame['kolomnaam'].isnull()`

Alleen de rijen bekijken waar een kolom gevuld missende waardes bevat:  
`DataFrame[DataFrame['kolomnaam'].isnull()]`

Alleen de rijen bekijken waar verschillende specifieke kolommen missende waardes bevat:  
`DataFrame[['kolomnaam1', 'kolomnaam2', 'kolomnaamN']].isnull()`  
  
en conditioneel indexeren:  
`DataFrame[DataFrame['kolomnaam'] (conditional statement) waarde]`  
  
Alle kolommen vinden waar missende waardes instaan, en die bekijken.  
door gebruik van:

`DataFrame.keys()`   
`DataFrame.isnull()`  
`DataFrame.Nunique()`   
`Conditioneel indexeren`  
  

### Vergeet niet!  
- Beter kijken door `x.groupby()`  
- Aggregatiefuncties: `sum(), count(), mean(), median(), unique(), nunique()`    
- help functies: ?, ??, help()  
- [Tab] en [Shift} + [Tab]

In [129]:
MusicStoreData[MusicStoreData['Company'].isnull()]

train.keys()
train[train.keys()].isnull().nunique()
AgeisNA = train[train['Age'].isnull()]

#### Zouden dit hetzelfde soort mensen zijn?

In [148]:
AgeisNA.groupby('Pclass').mean()
AgeisNA.groupby('Pclass')['Embarked'].unique()
AgeisNA.groupby('Embarked').median()
AgeisNA.groupby('Embarked').mean()
AgeisNA['Name'].unique()
train[train['Embarked'].isnull()]
trainCabinisNA = train[train['Cabin'].isnull()]
trainCabinisNA.groupby('Pclass').count()
train[train['Cabin'].notnull()].groupby('Pclass').count()
train[train['Cabin'].notnull()][['Name', 'Cabin']]
train['Cabin'].nunique()
train[['Name', 'Cabin']].groupby('Cabin').nunique()
# pd.set_option('display.max_rows', 200)
# pd.set_option('display.max_rows', 10)
train[['Name', 'Cabin']].groupby('Cabin').nunique()
len(train[['Name', 'Cabin']].groupby('Cabin').nunique())
train[['Name', 'Cabin']].groupby('Cabin').nunique()['Name']<2
# len(train.groupby('Cabin').nunique()[OnePPCabinBool])

Cabin
A10                 True
A14                 True
A16                 True
A19                 True
A20                 True
A23                 True
A24                 True
A26                 True
A31                 True
A32                 True
A34                 True
A36                 True
A5                  True
A6                  True
A7                  True
B101                True
B102                True
B18                False
B19                 True
B20                False
B22                False
B28                False
B3                  True
B30                 True
B35                False
B37                 True
B38                 True
B39                 True
B4                  True
B41                 True
B42                 True
B49                False
B5                 False
B50                 True
B51 B53 B55        False
B57 B59 B63 B66    False
B58 B60            False
B69                 True
B71                 True
B73                 True
B77                False
B78                 True
B79                 True
B80                 True
B82 B84             True
B86                 True
B94                 True
B96 B98            False
C101                True
C103                True
C104                True
C106                True
C110                True
C111                True
C118                True
C123               False
C124               False
C125               False
C126               False
C128                True
C148                True
C2                 False
C22 C26            False
C23 C25 C27        False
C30                 True
C32                 True
C45                 True
C46                 True
C47                 True
C49                 True
C50                 True
C52                False
C54                 True
C62 C64             True
C65                False
C68                False
C7                  True
C70                 True
C78                False
C82                 True
C83                False
C85                 True
C86                 True
C87                 True
C90                 True
C91                 True
C92                False
C93                False
C95                 True
C99                 True
D                  False
D10 D12             True
D11                 True
D15                 True
D17                False
D19                 True
D20                False
D21                 True
D26                False
D28                 True
D30                 True
D33                False
D35                False
D36                False
D37                 True
D45                 True
D46                 True
D47                 True
D48                 True
D49                 True
D50                 True
D56                 True
D6                  True
D7                  True
D9                  True
E10                 True
E101               False
E12                 True
E121               False
E17                 True
E24                False
E25                False
E31                 True
E33                False
E34                 True
E36                 True
E38                 True
E40                 True
E44                False
E46                 True
E49                 True
E50                 True
E58                 True
E63                 True
E67                False
E68                 True
E77                 True
E8                 False
F E69               True
F G63               True
F G73              False
F2                 False
F33                False
F38                 True
F4                 False
G6                 False
T                   True
Name: Name, dtype: bool

#### en hoe zit het bij de test set?

In [185]:
# test.keys()
# test[test.keys()].isnull().nunique()
# TestAgeisNA = test[test['Age'].isnull()]
# TestAgeisNA.groupby('Embarked').count()
# TestAgeisNA.groupby('Embarked').mean()
# TestAgeisNA.groupby('Embarked').median()
# TestAgeisNA['Name'].unique()

#### ook nog kijken daar waar Fare en Cabin NA zijn

In [186]:
# test[test['Fare'].isnull()]
# test[test['Cabin'].isnull()]
# test[test['Cabin'].notnull()].groupby('Pclass').count()
# test[test['Cabin'].notnull()][['Name', 'Cabin']]
# test['Cabin'].unique()

## Conclusie! ...3

- Waar zitten de NA's?
- Hoe kunnen we ze het beste imputeren?

## Theorie! ...4  
  
**Sets samenvoegen** op regelniveau met `join()`  
*Slecht imputeren* door de **NA's** In te vullen met gemiddelde waardes  
  
Uitleg verschil `Concat()`, `Merge()`, `Join()`

In [187]:
# MSDTopRows = MusicStoreData[:1000]
# MSDBottomRows = MusicStoreData[1000:]

In [188]:
# MSDTopRows.tail()
# MSDBottomRows.head()

#### nu we ze van elkaar hebben gehaald... Gaan we ze weer eens rustig samenvoegen!

In [189]:
# MSD = pd.concat([MSDTopRows, MSDBottomRows])
# MSD

In [190]:
# MSD.loc[999] == MusicStoreData.loc[999]

In [191]:
# pd.set_option('display.max_rows', 23)

In [192]:
# MSD.loc[999]

In [193]:
# MusicStoreData.loc[999]

# NA's imputeren:

stap 1: Waar zitten de NA's?  
stap 2: Vul ze in op die plek!

In [194]:
# MusicStoreData.info()

#### NA's in: 5.

In [195]:
# MusicStoreData[MusicStoreData['Company'].isnull()]['Company']

In [196]:
# MusicStoreData.groupby('Company').FirstName.count()

In [197]:
# type(MusicStoreData[MusicStoreData['Company'].isnull()]['Company'])

In [198]:
# MusicStoreData[MusicStoreData['Company'].isnull()]['Company'] = x ## Waarde van gemiddeld voorkomend bedrijf

In [199]:
# MusicStoreData['Company'].fillna('Apple Inc')

In [200]:
# MusicStoreData

In [201]:
# MusicStoreData['Company'].fillna('Apple Inc', inplace = True)

In [202]:
# MusicStoreData

## Dag 2 Deel 2 Python cursus

In [203]:
# import matplotlib.pyplot as plt

### opdracht 5
Samenvoegen van test en train (set)

1. `DF1.append(DF2, ignore_index=(Boolean), verify_integrity=(Boolean), sort=(Boolean))`  
2. `pd.concat(DFs, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True)`

In [152]:
# Code
complete = train.append(test, ignore_index=True, sort=True)
# complete = pd.concat([train, test], ignore_index=True, sort = True)
complete

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.00,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.00,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.00,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.00,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.00,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877
6,54.00,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463
7,2.00,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909
8,27.00,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742
9,14.00,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736
10,4.00,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549
11,58.00,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783
12,20.00,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151
13,39.00,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082
14,14.00,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406
15,55.00,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706
16,2.00,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373
18,31.00,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649
20,35.00,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865
21,34.00,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698
22,15.00,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923
23,28.00,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788
24,8.00,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909
25,38.00,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631
27,19.00,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216
30,40.00,NaN,C,27.7208,"Uruchurtu, Don. Manuel E",0,31,1,male,0,0.0,PC 17601
31,NaN,B78,C,146.5208,"Spencer, Mrs. William Augustus (Marie Eugenie)",0,32,1,female,1,1.0,PC 17569
32,NaN,NaN,Q,7.7500,"Glynn, Miss. Mary Agatha",0,33,3,female,0,1.0,335677
33,66.00,NaN,S,10.5000,"Wheadon, Mr. Edward H",0,34,2,male,0,0.0,C.A. 24579
34,28.00,NaN,C,82.1708,"Meyer, Mr. Edgar Joseph",0,35,1,male,1,0.0,PC 17604
35,42.00,NaN,S,52.0000,"Holverson, Mr. Alexander Oskar",0,36,1,male,1,0.0,113789
36,NaN,NaN,C,7.2292,"Mamee, Mr. Hanna",0,37,3,male,0,1.0,2677
37,21.00,NaN,S,8.0500,"Cann, Mr. Ernest Charles",0,38,3,male,0,0.0,A./5. 2152
38,18.00,NaN,S,18.0000,"Vander Planke, Miss. Augusta Maria",0,39,3,female,2,0.0,345764
39,14.00,NaN,C,11.2417,"Nicola-Yarred, Miss. Jamila",0,40,3,female,1,1.0,2651
40,40.00,NaN,S,9.4750,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",0,41,3,female,1,0.0,7546
41,27.00,NaN,S,21.0000,"Turpin, Mrs. William John Robert (Dorothy Ann ...",0,42,2,female,1,0.0,11668
42,NaN,NaN,C,7.8958,"Kraeff, Mr. Theodor",0,43,3,male,0,0.0,349253
43,3.00,NaN,C,41.5792,"Laroche, Miss. Simonne Marie Anne Andree",2,44,2,female,1,1.0,SC/Paris 2123
44,19.00,NaN,Q,7.8792,"Devaney, Miss. Margaret Delia",0,45,3,female,0,1.0,330958
45,NaN,NaN,S,8.0500,"Rogers, Mr. William John",0,46,3,male,0,0.0,S.C./A.4. 23567
46,NaN,NaN,Q,15.5000,"Lennon, Mr. Denis",0,47,3,male,1,0.0,370371
47,NaN,NaN,Q,7.7500,"O'Driscoll, Miss. Bridget",0,48,3,female,0,1.0,14311
48,NaN,NaN,C,21.6792,"Samaan, Mr. Youssef",0,49,3,male,2,0.0,2662
49,18.00,NaN,S,17.8000,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",0,50,3,female,1,0.0,349237
50,7.00,NaN,S,39.6875,"Panula, Master. Juha Niilo",1,51,3,male,4,0.0,3101295
51,21.00,NaN,S,7.8000,"Nosworthy, Mr. Richard Cater",0,52,3,male,0,0.0,A/4. 39886
52,49.00,D33,C,76.7292,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",0,53,1,female,1,1.0,PC 17572
53,29.00,NaN,S,26.0000,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",0,54,2,female,1,1.0,2926
54,65.00,B30,C,61.9792,"Ostby, Mr. Engelhart Cornelius",1,55,1,male,0,0.0,113509
55,NaN,C52,S,35.5000,"Woolner, Mr. Hugh",0,56,1,male,0,1.0,19947
56,21.00,NaN,S,10.5000,"Rugg, Miss. Emily",0,57,2,female,0,1.0,C.A. 31026
57,28.50,NaN,C,7.2292,"Novel, Mr. Mansouer",0,58,3,male,0,0.0,2697
58,5.00,NaN,S,27.7500,"West, Miss. Constance Mirium",2,59,2,female,1,1.0,C.A. 34651
59,11.00,NaN,S,46.9000,"Goodwin, Master. William Frederick",2,60,3,male,5,0.0,CA 2144
60,22.00,NaN,C,7.2292,"Sirayanian, Mr. Orsen",0,61,3,male,0,0.0,2669
61,38.00,B28,NaN,80.0000,"Icard, Miss. Amelie",0,62,1,female,0,1.0,113572
62,45.00,C83,S,83.4750,"Harris, Mr. Henry Birkhardt",0,63,1,male,1,0.0,36973
63,4.00,NaN,S,27.9000,"Skoog, Master. Harald",2,64,3,male,3,0.0,347088
64,NaN,NaN,C,27.7208,"Stewart, Mr. Albert A",0,65,1,male,0,0.0,PC 17605
65,NaN,NaN,C,15.2458,"Moubarek, Master. Gerios",1,66,3,male,1,1.0,2661
66,29.00,F33,S,10.5000,"Nye, Mrs. (Elizabeth Ramell)",0,67,2,female,0,1.0,C.A. 29395
67,19.00,NaN,S,8.1583,"Crease, Mr. Ernest James",0,68,3,male,0,0.0,S.P. 3464
68,17.00,NaN,S,7.9250,"Andersson, Miss. Erna Alexandra",2,69,3,female,4,1.0,3101281
69,26.00,NaN,S,8.6625,"Kink, Mr. Vincenz",0,70,3,male,2,0.0,315151
70,32.00,NaN,S,10.5000,"Jenkin, Mr. Stephen Curnow",0,71,2,male,0,0.0,C.A. 33111
71,16.00,NaN,S,46.9000,"Goodwin, Miss. Lillian Amy",2,72,3,female,5,0.0,CA 2144
72,21.00,NaN,S,73.5000,"Hood, Mr. Ambrose Jr",0,73,2,male,0,0.0,S.O.C. 14879
73,26.00,NaN,C,14.4542,"Chronopoulos, Mr. Apostolos",0,74,3,male,1,0.0,2680
74,32.00,NaN,S,56.4958,"Bing, Mr. Lee",0,75,3,male,0,1.0,1601
75,25.00,F G73,S,7.6500,"Moen, Mr. Sigurd Hansen",0,76,3,male,0,0.0,348123
76,NaN,NaN,S,7.8958,"Staneff, Mr. Ivan",0,77,3,male,0,0.0,349208
77,NaN,NaN,S,8.0500,"Moutal, Mr. Rahamin Haim",0,78,3,male,0,0.0,374746
78,0.83,NaN,S,29.0000,"Caldwell, Master. Alden Gates",2,79,2,male,0,1.0,248738
79,30.00,NaN,S,12.4750,"Dowdell, Miss. Elizabeth",0,80,3,female,0,1.0,364516
80,22.00,NaN,S,9.0000,"Waelens, Mr. Achille",0,81,3,male,0,0.0,345767
81,29.00,NaN,S,9.5000,"Sheerlinck, Mr. Jan Baptist",0,82,3,male,0,1.0,345779
82,NaN,NaN,Q,7.7875,"McDermott, Miss. Brigdet Delia",0,83,3,female,0,1.0,330932
83,28.00,NaN,S,47.1000,"Carrau, Mr. Francisco M",0,84,1,male,0,0.0,113059
84,17.00,NaN,S,10.5000,"Ilett, Miss. Bertha",0,85,2,female,0,1.0,SO/C 14885
85,33.00,NaN,S,15.8500,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",0,86,3,female,3,1.0,3101278
86,16.00,NaN,S,34.3750,"Ford, Mr. William Neal",3,87,3,male,1,0.0,W./C. 6608
87,NaN,NaN,S,8.0500,"Slocovski, Mr. Selman Francis",0,88,3,male,0,0.0,SOTON/OQ 392086
88,23.00,C23 C25 C27,S,263.0000,"Fortune, Miss. Mabel Helen",2,89,1,female,3,1.0,19950
89,24.00,NaN,S,8.0500,"Celotti, Mr. Francesco",0,90,3,male,0,0.0,343275
90,29.00,NaN,S,8.0500,"Christmann, Mr. Emil",0,91,3,male,0,0.0,343276
91,20.00,NaN,S,7.8542,"Andreasson, Mr. Paul Edvin",0,92,3,male,0,0.0,347466
92,46.00,E31,S,61.1750,"Chaffee, Mr. Herbert Fuller",0,93,1,male,1,0.0,W.E.P. 5734
93,26.00,NaN,S,20.5750,"Dean, Mr. Bertram Frank",2,94,3,male,1,0.0,C.A. 2315
94,59.00,NaN,S,7.2500,"Coxon, Mr. Daniel",0,95,3,male,0,0.0,364500
95,NaN,NaN,S,8.0500,"Shorney, Mr. Charles Joseph",0,96,3,male,0,0.0,374910
96,71.00,A5,C,34.6542,"Goldschmidt, Mr. George B",0,97,1,male,0,0.0,PC 17754
97,23.00,D10 D12,C,63.3583,"Greenfield, Mr. William Bertram",1,98,1,male,0,1.0,PC 17759
98,34.00,NaN,S,23.0000,"Doling, Mrs. John T (Ada Julia Bone)",1,99,2,female,0,1.0,231919
99,34.00,NaN,S,26.0000,"Kantor, Mr. Sinai",0,100,2,male,1,0.0,244367
...,...,...,...,...,...,...,...,...,...,...,...,...
1209,27.00,NaN,S,7.8542,"Jonsson, Mr. Nils Hilding",0,1210,3,male,0,NaN,350408
1210,22.00,NaN,S,31.5000,"Jefferys, Mr. Ernest Wilfred",0,1211,2,male,2,NaN,C.A. 31029
1211,26.00,NaN,S,7.7750,"Andersson, Mr. Johan Samuel",0,1212,3,male,0,NaN,347075
1212,25.00,F E57,C,7.2292,"Krekorian, Mr. Neshan",0,1213,3,male,0,NaN,2654
1213,26.00,F2,S,13.0000,"Nesson, Mr. Israel",0,1214,2,male,0,NaN,244368
1214,33.00,NaN,S,26.5500,"Rowe, Mr. Alfred G",0,1215,1,male,0,NaN,113790
1215,39.00,NaN,S,211.3375,"Kreuchen, Miss. Emilie",0,1216,1,female,0,NaN,24160
1216,23.00,NaN,S,7.0500,"Assam, Mr. Ali",0,1217,3,male,0,NaN,SOTON/O.Q. 3101309
1217,12.00,F4,S,39.0000,"Becker, Miss. Ruth Elizabeth",1,1218,2,female,2,NaN,230136
1218,46.00,NaN,C,79.2000,"Rosenshine, Mr. George (Mr George Thorne"")""",0,1219,1,male,0,NaN,PC 17585
1219,29.00,NaN,S,26.0000,"Clarke, Mr. Charles Valentine",0,1220,2,male,1,NaN,2003
1220,21.00,NaN,S,13.0000,"Enander, Mr. Ingvar",0,1221,2,male,0,NaN,236854
1221,48.00,NaN,S,36.7500,"Davies, Mrs. John Morgan (Elizabeth Agnes Mary...",2,1222,2,female,0,NaN,C.A. 33112
1222,39.00,A18,C,29.7000,"Dulles, Mr. William Crothers",0,1223,1,male,0,NaN,PC 17580
1223,NaN,NaN,C,7.2250,"Thomas, Mr. Tannous",0,1224,3,male,0,NaN,2684
1224,19.00,NaN,C,15.7417,"Nakid, Mrs. Said (Waika Mary"" Mowad)""",1,1225,3,female,1,NaN,2653
1225,27.00,NaN,S,7.8958,"Cor, Mr. Ivan",0,1226,3,male,0,NaN,349229
1226,30.00,C106,S,26.0000,"Maguire, Mr. John Edward",0,1227,1,male,0,NaN,110469
1227,32.00,NaN,S,13.0000,"de Brito, Mr. Jose Joaquim",0,1228,2,male,0,NaN,244360
1228,39.00,NaN,C,7.2292,"Elias, Mr. Joseph",2,1229,3,male,0,NaN,2675
1229,25.00,NaN,S,31.5000,"Denbury, Mr. Herbert",0,1230,2,male,0,NaN,C.A. 31029
1230,NaN,NaN,C,7.2292,"Betros, Master. Seman",0,1231,3,male,0,NaN,2622
1231,18.00,NaN,S,10.5000,"Fillbrook, Mr. Joseph Charles",0,1232,2,male,0,NaN,C.A. 15185
1232,32.00,NaN,S,7.5792,"Lundstrom, Mr. Thure Edvin",0,1233,3,male,0,NaN,350403
1233,NaN,NaN,S,69.5500,"Sage, Mr. John George",9,1234,3,male,1,NaN,CA. 2343
1234,58.00,B51 B53 B55,C,512.3292,"Cardeza, Mrs. James Warburton Martinez (Charlo...",1,1235,1,female,0,NaN,PC 17755
1235,NaN,NaN,S,14.5000,"van Billiard, Master. James William",1,1236,3,male,1,NaN,A/5. 851
1236,16.00,NaN,S,7.6500,"Abelseth, Miss. Karen Marie",0,1237,3,female,0,NaN,348125
1237,26.00,NaN,S,13.0000,"Botsford, Mr. William Hull",0,1238,2,male,0,NaN,237670
1238,38.00,NaN,C,7.2292,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",0,1239,3,female,0,NaN,2688
1239,24.00,NaN,S,13.5000,"Giles, Mr. Ralph",0,1240,2,male,0,NaN,248726
1240,31.00,NaN,S,21.0000,"Walcroft, Miss. Nellie",0,1241,2,female,0,NaN,F.C.C. 13528
1241,45.00,D10 D12,C,63.3583,"Greenfield, Mrs. Leo David (Blanche Strouse)",1,1242,1,female,0,NaN,PC 17759
1242,25.00,NaN,S,10.5000,"Stokes, Mr. Philip Joseph",0,1243,2,male,0,NaN,F.C.C. 13540
1243,18.00,NaN,S,73.5000,"Dibden, Mr. William",0,1244,2,male,0,NaN,S.O.C. 14879
1244,49.00,NaN,S,65.0000,"Herman, Mr. Samuel",2,1245,2,male,1,NaN,220845
1245,0.17,NaN,S,20.5750,"Dean, Miss. Elizabeth Gladys Millvina""""",2,1246,3,female,1,NaN,C.A. 2315
1246,50.00,E60,S,26.0000,"Julian, Mr. Henry Forbes",0,1247,1,male,0,NaN,113044
1247,59.00,C101,S,51.4792,"Brown, Mrs. John Murray (Caroline Lane Lamson)",0,1248,1,female,2,NaN,11769
1248,NaN,NaN,S,7.8792,"Lockyer, Mr. Edward",0,1249,3,male,0,NaN,1222
1249,NaN,NaN,Q,7.7500,"O'Keefe, Mr. Patrick",0,1250,3,male,0,NaN,368402
1250,30.00,NaN,S,15.5500,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...",0,1251,3,female,1,NaN,349910
1251,14.50,NaN,S,69.5500,"Sage, Master. William Henry",2,1252,3,male,8,NaN,CA. 2343
1252,24.00,NaN,C,37.0042,"Mallet, Mrs. Albert (Antoinette Magnin)",1,1253,2,female,1,NaN,S.C./PARIS 2079
1253,31.00,NaN,S,21.0000,"Ware, Mrs. John James (Florence Louise Long)",0,1254,2,female,0,NaN,CA 31352
1254,27.00,NaN,S,8.6625,"Strilic, Mr. Ivan",0,1255,3,male,0,NaN,315083
1255,25.00,E50,C,55.4417,"Harder, Mrs. George Achilles (Dorothy Annan)",0,1256,1,female,1,NaN,11765
1256,NaN,NaN,S,69.5500,"Sage, Mrs. John (Annie Bullen)",9,1257,3,female,1,NaN,CA. 2343
1257,NaN,NaN,C,14.4583,"Caram, Mr. Joseph",0,1258,3,male,1,NaN,2689
1258,22.00,NaN,S,39.6875,"Riihivouri, Miss. Susanna Juhantytar Sanni""""",0,1259,3,female,0,NaN,3101295
1259,45.00,NaN,C,59.4000,"Gibson, Mrs. Leonard (Pauline C Boeson)",1,1260,1,female,0,NaN,112378
1260,29.00,NaN,C,13.8583,"Pallas y Castello, Mr. Emilio",0,1261,2,male,0,NaN,SC/PARIS 2147
1261,21.00,NaN,S,11.5000,"Giles, Mr. Edgar",0,1262,2,male,1,NaN,28133
1262,31.00,E39 E41,C,134.5000,"Wilson, Miss. Helen Alice",0,1263,1,female,0,NaN,16966
1263,49.00,B52 B54 B56,S,0.0000,"Ismay, Mr. Joseph Bruce",0,1264,1,male,0,NaN,112058
1264,44.00,NaN,S,13.0000,"Harbeck, Mr. William H",0,1265,2,male,0,NaN,248746
1265,54.00,A34,S,81.8583,"Dodge, Mrs. Washington (Ruth Vidaver)",1,1266,1,female,1,NaN,33638
1266,45.00,NaN,C,262.3750,"Bowen, Miss. Grace Scott",0,1267,1,female,0,NaN,PC 17608
1267,22.00,NaN,S,8.6625,"Kink, Miss. Maria",0,1268,3,female,2,NaN,315152
1268,21.00,NaN,S,11.5000,"Cotterill, Mr. Henry Harry""""",0,1269,2,male,0,NaN,29107
1269,55.00,C39,S,50.0000,"Hipkins, Mr. William Edward",0,1270,1,male,0,NaN,680
1270,5.00,NaN,S,31.3875,"Asplund, Master. Carl Edgar",2,1271,3,male,4,NaN,347077
1271,NaN,NaN,Q,7.7500,"O'Connor, Mr. Patrick",0,1272,3,male,0,NaN,366713
1272,26.00,NaN,Q,7.8792,"Foley, Mr. Joseph",0,1273,3,male,0,NaN,330910
1273,NaN,NaN,S,14.5000,"Risien, Mrs. Samuel (Emma)",0,1274,3,female,0,NaN,364498
1274,19.00,NaN,S,16.1000,"McNamee, Mrs. Neal (Eileen O'Leary)",0,1275,3,female,1,NaN,376566
1275,NaN,NaN,S,12.8750,"Wheeler, Mr. Edwin Frederick""""",0,1276,2,male,0,NaN,SC/PARIS 2159
1276,24.00,NaN,S,65.0000,"Herman, Miss. Kate",2,1277,2,female,1,NaN,220845
1277,24.00,NaN,S,7.7750,"Aronsson, Mr. Ernst Axel Algot",0,1278,3,male,0,NaN,349911
1278,57.00,NaN,S,13.0000,"Ashby, Mr. John",0,1279,2,male,0,NaN,244346
1279,21.00,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858
1280,6.00,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909
1281,23.00,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN,12749
1282,51.00,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN,PC 17592
1283,13.00,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN,C.A. 2673
1284,47.00,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN,C.A. 30769
1285,29.00,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN,315153
1286,18.00,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN,13695
1287,24.00,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN,371109
1288,48.00,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN,13567
1289,22.00,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065
1290,31.00,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN,21332
1291,30.00,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN,36928
1292,38.00,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN,28664
1293,22.00,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN,112378
1294,17.00,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN,113059
1295,43.00,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN,17765
1296,20.00,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN,SC/PARIS 2166
1297,23.00,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN,28666
1298,50.00,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN,113503
1299,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN,334915
1300,3.00,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315
1301,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN,365237
1302,37.00,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN,19928
1303,28.00,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN,347086
1304,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236
1305,39.00,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758
1306,38.50,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262
1307,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309
1308,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668

### Opdracht 6 
 
1. Puur kijken en bedenken hoe je het eventueel kan oplossen en al vast visualiseren wat je hebt.  
5. Stap 2 is bedenken hoe je het gaat oplossen
5. Stap 3 is het toevoegen van values voor de NA's of droppen van gehele kolommen. DOEL is om een dataset te hebben ZONDER NA's (behalve 'Survived'). Maak overwegingen per feature wat voor belang ze hebben om voorspellingen mee te maken.

In [205]:
# Check de data, wat valt er uit op te maken?
# Hier een aantal functies om je op weg te helpen..

# dataframe.info()
# dataframe['feature']
# dataframe['feature'].hist(bins = int)
# dataframe['']
# dataframe.feature.unique()
# dataframe.feature.sum()
# dataframe.columns

##### PassengerId

In [206]:
# complete['PassengerId'].hist(bins = 20)
# Code

##### Survived

In [207]:
# complete['Survived'].hist(bins = 20)
# Code

##### Pclass

In [208]:
# complete['Pclass'].hist(bins = 20)
# Code

##### Name

In [209]:
# complete['Name'].hist(bins = 20)
# Code

##### Sex

In [210]:
# complete['Sex'].hist(bins = 20)
# Code

##### Age

In [174]:
# complete['Age'].hist(bins = 20)
# Code

# complete['Age'].isnull().sum()

complete['Av_Age'] = complete['Age'].fillna(complete.Age.mean())

##### SibSp

In [212]:
# complete['SibSp'].hist(bins = 20)
# Code

##### Parch

In [213]:
# complete['Parch'].hist(bins = 20)
# Code

##### Ticket

In [214]:
# complete['Ticket'].hist(bins = 20)
# Code

##### Fare

In [187]:
# complete['Fare'].hist(bins = 20)
# Code

fare_3eklas = complete[complete['Pclass'] == 3].mean().Fare
complete['Fare'] = complete['Fare'].fillna(fare_3eklas)

##### Cabin

In [201]:
# complete['Cabin'].hist(bins = 20)
# Code

if 'Cabin' in complete.keys():
    complete.drop(['Cabin'], axis = 1)

false

##### Embarked

In [216]:
# complete['Embarked'].hist(bins = 20)
# Code

complete['Embarked'] = complete['Embarked'].fillna('S')
complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
Age            1046 non-null float64
Embarked       1309 non-null object
Fare           1309 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
Av_Age         1309 non-null float64
dtypes: float64(4), int64(4), object(4)
memory usage: 122.8+ KB

### klassikaal 
<img style="float: left;" src="titanic/klassikaal_.png" alt="drawing" width="500"/>

#### Welke keuzes heeft iedereen gemaakt en waarom?  
Volgende stap richting het Model

#### theorie 4
Kiezen van een model: decision tree  
*functionaliteit van een decision tree*


![alt text](titanic/decisiontree.png "Decision-Tree")

### Opdracht 7

#### Volledige dataset terug omzetten in een test en train set met de volgende formules.  

1. `dataframe['some_column']`
2. `dataframe.notnull()`
3. `dataframe.isnull()`

In [218]:
train = complete[complete['Survived'].notnull()]
# len(train)
test = complete[complete['Survived'].isnull()]

#### Training set omzetten in een 20% test-set en 80% training-set. Gebruik enkele van de formules hieronder of zoek een passende functie op de [scikit website](https://scikit-learn.org/stable/index.html).

1. numpy's random formule : `np.random.rand(int)` (randomly and uniformly distributed float values)
2. pandas sample formule : `df.sample(frac=(float), random_state=(int))`
3. scikit sklearn split model : dit vereist het importeren van de sklearn package. Zoek dit op in de scikit website zoals hierboven genoemd.

In [219]:
# random_uniform = np.random.rand(len(train)) < 0.8
# train_rand = train[random_uniform]
# test_rand = train[~random_uniform]
# print(len(train_rand), len(test_rand))
# train_sample = train.sample(frac=0.8,random_state=200) #random state is a seed value to enable getting pseudo random numbers
# test_sample = train.drop(train_sample.index)
# print(len(train_sample), len(test_sample))

In [217]:
from sklearn.model_selection import train_test_split
train_split, test_split = train_test_split(train, test_size=0.2)
print(len(train_split), len(test_split))

712 179

#### Bij zowel de training- als test-set de kolom survived los nemen. 

Zorg ervoor dat je de kolom 'Survivded' als losse vector hebt zodat het model de data kan fitten op de resultaten.  

Je wilt dus: 
1. een nieuw dataframe van de training set en test set *zonder* de feature 'Survived' en 
2. twee losse vectors/lijsten (voor de training- en test-set) van de feature 'Survived'.  

Denk hierbij aan de functie: 
1. `df.drop(kolom)` 

<img style="float: left;" src="titanic/data_opdeling.png">

In [218]:
xtrain = train_split.drop(['Survived'], axis=1)
ytrain = train_split.Survived

xtest = test_split.drop(['Survived'], axis=1)
ytest = test_split.Survived

#### Model trainen met een DecisionTree
Het volgende plaatje laat het proces zien van een model trainen en testen. Neem de volgende stappen: 
1. importeer van sklearn de decisiontreeclassifier. Waarom gebruiken we deze?
2. fit de trainingset op de testset waarvan het resultaat bekend is om de classificatiewaardes te verkrijgen
3. Laat je bevindingen weten

<img style="float: left;" src="titanic/data_and_model.png">

In [223]:
from sklearn.tree import DecisionTreeClassifier

decision_tree = DecisionTreeClassifier()
decision_tree.fit(xtrain, ytrain)

4. **Ouch! Error?** Ja, want de scikit package kan geen categorische waardes aan. Deze zullen numeriek gemaakt moeten worden.

### Klassikaal

<img style="float: left;" src="titanic/klassikaal_.png" alt="drawing" width="500"/>

Dit model kan geen categorische waardes voorspellen, dus we moeten de volledige dataset numeriek maken.  
Waarom laten we jullie deze fout maken? Omdat het leuk is.. Maar vooral omdat jullie het belang moeten inzien van het voorbereiden van data, dataprocessing, en data juist afstemmen op je model.

### theorie 5
Methodes hoe je categorische waardes numeriek maakt  
*formules en methodes*

### Opdracht 8 
(per kolom 20 min gemiddeld)  
Numeriek maken van Categorische waardes!

#### Embarked (Opdracht: omzetten naar numeriek)

In [220]:
# Code
# 3 waardes naar een OneHotEncoder of een waarde geven maar als er geen rangschikking is binnen categorische data 
# dan is het toekennen van een waarde vaak misleidend voor een model want die interpreteert een getal als dat er 
# een hierarchie zit in de data terwijl die er helemaal niet is! 

complete['Embarked_Numeric'] = complete['Embarked'].m ap( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

#### Name (Opdracht: Wat voor bruikbare informatie kan je hieruit halen? Kan deze feature ook waardes van andere features voorspellen?)

In [221]:
# Code
# Nieuwe feature maken met alleen de aanhef en die ook als een OneHotEncoder omvormen

# Hou alleen de titel over
complete['Title'] = complete.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
complete['Title'].unique()
complete['Title'] = complete['Title'].replace(['Capt', 'Col',
                                           'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer'], 'UncommonMale')
complete['Title'] = complete['Title'].replace(['Lady', 'Countess', 'Dona'], 'UncommonFemale')
complete['Title'] = complete['Title'].replace('Mlle', 'Miss')
complete['Title'] = complete['Title'].replace('Ms', 'Miss')
complete['Title'] = complete['Title'].replace('Mme', 'Mrs')
complete['Title'] = complete['Title'].map( {'UncommonMale': 0, 'UncommonFemale': 1, 'Mr': 2, 'Mrs': 3, 'Miss': 4, 'Master': 5} ).astype(int)

#### Sex (Opdracht: Zet om naar 1 en 0)

In [232]:
# Code
# Zet man en vrouw om in 0 en 1

if complete['Sex'].values.dtype != int:
    print("Sex to numeric")
    complete['Sex'] = complete['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

#### Ticket (Opdracht: Naar numeriek en anders: wat is een goed plan?)

In [237]:
# Code
# Maak een afweging, weggooien of alleen de cijfers onthouden als numeric?

if'Ticket' in complete.columns:
    print("Ticket to numeric")
    complete = complete.drop(['Ticket'], axis=1)

#### Hebben we iets gemist, nog meer feature engineering nodig?  
Uitleggen over het continue aanpassen van features op het model en andersom - het is een dynamisch process.

### Klassikaal

<img style="float: left;" src="titanic/klassikaal_.png" alt="drawing" width="500"/>

Vraag: heeft iedereen alle features numeriek gemaakt?  
Dan door naar het model

### Opdracht 9  
1. Classificier je data 
2. Stappen plan uitleggen

In [246]:
train = complete[complete['Survived'].notnull()]
train = train.drop(['Name', 'Age', 'Embarked'], axis = 1)

# Zoals je ziet alleen maar ints en floats en complete features
# train.info()
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 10 columns):
Fare                891 non-null float64
Parch               891 non-null int64
PassengerId         891 non-null int64
Pclass              891 non-null int64
Sex                 891 non-null int64
SibSp               891 non-null int64
Survived            891 non-null float64
Av_Age              891 non-null float64
Title               891 non-null int64
Embarked_Numeric    891 non-null int64
dtypes: float64(3), int64(7)
memory usage: 76.6 KB

In [252]:
from sklearn.model_selection import train_test_split
train_split, test_split = train_test_split(train, test_size=0.3)
print(len(train_split), len(test_split))

623 268

In [253]:
xtrain = train_split.drop(['Survived'], axis=1)
ytrain = train_split.Survived

xtest = test_split.drop(['Survived'], axis=1)
ytest = test_split.Survived

In [254]:
from sklearn.tree import DecisionTreeClassifier

decision_tree = DecisionTreeClassifier()
decision_tree.fit(xtrain, ytrain)
ypred = decision_tree.predict(xtest)
acc_decision_tree = round(decision_tree.score(xtest, ytest) * 100, 2)
dec_par = decision_tree.get_params()
print(acc_decision_tree, "%")

79.85 %

### Klassikaal
<img style="float: left;" src="titanic/klassikaal_.png" alt="drawing" width="500"/>

Uitkomsten en evaluatie van uitkomsten  
Volgende stap, keuze: verbeter je model en/of verbeter je features van je data?

### Opdracht 10  
1. Verbeter je features  
2. 'Age'  
3. Features toevoegen?  
5. Verbeter je model en test het opnieuw  
6. Parameter tunen

In [231]:
# Vrij coderen voor iedereen, met supervisie van docenten

# Poging tot het nemen van de gemiddelde Age per Titel maar ik was super
# gaar het lukte niet echt :p misschien kan je er naar kijken anders 
# probeer ik het morgen nog s

# age_median = []

complete.Title

# for i in range(6): # Eigelijk titel namen van maken ipv cijfers
#     ages = np.array([])
#     for x in complete.loc[complete.Title == i, 'Age'].values:
#         if x >= 0:
#             ages = np.append(ages, x)
#     age_median.append(np.median(ages))

# #replace nan ages with mean ages according to their title
# for dataset in complete:
#     for x in dataset.loc[np.isnan(complete.Age),'Title'].index:
#         title = complete.at[x, 'Title']
#         complete.at[x, 'Age'] = age_median[title]

0       2
1       3
2       4
3       3
4       2
5       2
6       2
7       5
8       3
9       3
10      4
11      4
12      2
13      2
14      4
15      3
16      5
17      2
18      3
19      3
20      2
21      2
22      4
23      2
24      4
25      3
26      2
27      2
28      4
29      2
30      0
31      3
32      4
33      2
34      2
35      2
36      2
37      2
38      4
39      4
40      3
41      3
42      2
43      4
44      4
45      2
46      2
47      4
48      2
49      3
50      5
51      2
52      3
53      3
54      2
55      2
56      4
57      2
58      4
59      5
60      2
61      4
62      2
63      5
64      2
65      5
66      3
67      2
68      4
69      2
70      2
71      4
72      2
73      2
74      2
75      2
76      2
77      2
78      5
79      4
80      2
81      2
82      4
83      2
84      4
85      3
86      2
87      2
88      4
89      2
90      2
91      2
92      2
93      2
94      2
95      2
96      2
97      2
98      3
99      2
       ..
1209    2
1210    2
1211    2
1212    2
1213    2
1214    2
1215    4
1216    2
1217    4
1218    2
1219    2
1220    2
1221    3
1222    2
1223    2
1224    3
1225    2
1226    2
1227    2
1228    2
1229    2
1230    5
1231    2
1232    2
1233    2
1234    3
1235    5
1236    4
1237    2
1238    3
1239    2
1240    4
1241    3
1242    2
1243    2
1244    2
1245    4
1246    2
1247    3
1248    2
1249    2
1250    3
1251    5
1252    3
1253    3
1254    2
1255    3
1256    3
1257    2
1258    4
1259    3
1260    2
1261    2
1262    4
1263    2
1264    2
1265    3
1266    4
1267    4
1268    2
1269    2
1270    5
1271    2
1272    2
1273    3
1274    3
1275    2
1276    4
1277    2
1278    2
1279    2
1280    5
1281    2
1282    3
1283    5
1284    2
1285    2
1286    3
1287    2
1288    3
1289    2
1290    2
1291    4
1292    2
1293    4
1294    2
1295    2
1296    2
1297    2
1298    2
1299    4
1300    4
1301    4
1302    3
1303    4
1304    2
1305    1
1306    2
1307    2
1308    5
Name: Title, Length: 1309, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

num_features = len(complete.columns)
random_forest = RandomForestClassifier(n_estimators=20, criterion = 'gini', max_features = 9)
random_forest.fit(xtrain, ytrain)
ypred = random_forest.predict(xtest)
acc_random_forest = round(random_forest.score(xtest, ytest) * 100, 2)
rand_par = random_forest.get_params()
acc_random_forest

logreg = LogisticRegression (solver = 'lbfgs', max_iter = 1000)
logreg.fit(xtrain, ytrain)
Y_pred = logreg.predict(xtest)
acc_log = round(logreg.score(xtest, ytest) * 100, 2)
log_par = logreg.get_params()
acc_log

### Klassikaal   
<img style="float: left;" src="titanic/klassikaal_.png" alt="drawing" width="500"/>

Tijd over? Benieuwd naar een ander model? De volgende opties:  
1. Model zelf aanpassen -> Parameter tunen   
2. Decision tree visualiseren  
3. Ander model?

In [ ]:
# Decision tree tunen van de parameters
# Regressie model
# Visualisatie van een Decision tree

In [ ]:
# Vrij coderen voor iedereen, met supervisie van docenten